= link_to board_path(id: board.id) do
  .board
    .board_content
      .board_title
        = board.title
      .board_content
        = board.content 
      .card_detail
        = image_tag 'default-avatar.png'
        %div
          %p= board.user.display_name
          %p= board.display_created_at